.gray-bg {
  background: #fbfbfb;
}
.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.section-title .title {
  font-weight: 700;
  font-size: 45px;
  color: #000;
  padding-bottom: 20px;
  line-height: 60px;
  margin: 0;

  @include mobile {
    font-size: 35px;
  }
}
.section-title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #8a8fa3;
  margin: 0;
}
.single-pricing:hover {
  box-shadow: 0 0 21px 0 rgba(152, 152, 152, 0.23);
}
.single-pricing .pricing-package {
  background-color: #754ef9;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.single-pricing .pricing-package .package-title {
  font-size: 22px;
  color: #fff;
  padding: 25px;
  margin: 0;

  @include mobile {
    padding: 15px 25px;
  }
}
.single-pricing .pricing-body {
  border: 1px solid #ddd;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.single-pricing .pricing-body .pricing-text {
  border-bottom: 1px solid #ddd;
  padding: 20px;
}
.single-pricing .pricing-body .pricing-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #8a8fa3;
  margin: 0;
  padding-bottom: 10px;

  @include mobile {
    line-height: 25px;
  }
}
.single-pricing .pricing-body .pricing-text .price {
  font-size: 28px;
  font-weight: 600;
  color: #754ef9;
}
.single-pricing .pricing-body .pricing-list {
  padding-top: 30px;
}
.single-pricing .pricing-body .pricing-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.single-pricing .pricing-body .pricing-list ul li {
  line-height: 36px;
  color: #32333c;
  font-size: 16px;
  text-align: left;
  padding: 0 20px;

  @include mobile {
    line-height: 26px;
  }
}
.single-pricing .pricing-body .pricing-btn {
  padding-top: 25px;
  padding-bottom: 40px;

  @include mobile {
    padding-top: 20px;
    padding-bottom: 25px;
  }
}
.single-pricing .pricing-body .pricing-btn .main-btn {
  background-color: #fff;
  color: #754ef9;
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #754ef9;
  padding: 0 40px;
  font-size: 15px;
  line-height: 48px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-box-shadow: 0 5px 8px 0 rgba(118, 78, 249, 0.55);
  -moz-box-shadow: 0 5px 8px 0 rgba(118, 78, 249, 0.55);
  box-shadow: 0 5px 8px 0 rgba(118, 78, 249, 0.55);
  text-transform: uppercase;
  text-decoration: none;
}
.single-pricing .pricing-body .pricing-btn .main-btn:hover {
  background-color: #754ef9;
  color: #fff;
}
.contact-box {
  background-color: #fff;
  border: 1px solid #fff;
  padding: 30px 20px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;

  @include mobile {
    padding: 15px 20px;
  }
}
.contact-box:hover {
  -webkit-box-shadow: 0 0 21px 0 rgb(0 0 0 / 23%);
  -moz-box-shadow: 0 0 21px 0 rgb(0 0 0 / 23%);
  box-shadow: 0 0 21px 0 rgb(0 0 0 / 23%);
}
.contact-box .contact-icon i {
  font-size: 48px;
  color: #74c7aa;
}
.contact-box .contact-content {
  margin-top: 15px;
}
.contact-box .contact-content .contact-title {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 15px;
  margin: 0;
}
.contact-box .contact-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #8a8fa3;
  margin: 0;
}
.modal-dialog {
  margin-top: 150px;
}
.modal-dialog .modal-content {
  padding: 20px;
}
.modal-header {
  position: relative;
}
.modal-header .btn-close {
  cursor: pointer;
}
.modal-dialog .icon-box-suc {
  color: #fff;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #82ce34;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-dialog .icon-box-suc i {
  font-size: 58px;
  position: relative;
  top: 3px;
  width: 100%;
}
.modal-dialog .icon-box-fai {
  color: #f15e5e;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -70px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #fff;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-dialog .icon-box-fai i {
  font-size: 58px;
  position: relative;
  top: 3px;
  width: 100%;
}
.modal-dialog h4 {
  text-align: center;
  font-size: 32px;
  margin: 30px 0 -15px;
  width: 100%;
}
.modal-dialog .modal-body {
  padding-top: 10px;
  padding-bottom: 10px;
}
.modal-dialog .modal-footer {
  border: none;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
}
.modal-dialog .btn {
  display: block;
  color: #fff;
  border-radius: 4px;
  background: #82ce34;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
  cursor: pointer;
  min-height: 40px;
  width: 100%;
}
.error {
  color: #ff0000;
  margin-top: 10px;
  font-size: 16px;
}
